@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
    @apply text-3xl py-3;
  } */
  /* h2 {
    @apply text-2xl py-3;
  } */
  /* h3 {
    @apply text-xl py-3;
  } */
}

@layer components {
  .heading1 {
    @apply text-3xl py-4;
  }
  .heading2 {
    @apply text-2xl py-4;
  }
  .heading3 {
    @apply text-xl py-4;
  }

  .button-container {
    @apply flex justify-center m-5;
  }
  .button1 {
    @apply bg-primary dark:bg-primary_dark rounded-full my-2 py-2 px-4 text-white font-semibold;
  }
  .input1 {
    @apply rounded-md border-slate-200 shadow-sm hover:shadow-lg transition-shadow;
  }
  .component-container {
    @apply bg-white rounded-lg shadow dark:bg-gray-900 m-4;
  }
  .section-container {
    @apply xl:w-3/5 lg:w-4/5 p-5 flex flex-col items-center self-center;
  }
  .nav {
    @apply flex justify-between w-full items-center py-2 px-4;
  }
  .blob {
    border-radius: 53% 47% 22% 78% / 65% 46% 54% 35%;
  }
  .team-photo1 {
    border-radius: 13% 0 52% 78% / 75% 0 50% 45%;
  }
  .alex {
    width: 150px;
    height: 150px;
    background-image: url(/profilepic1.png);
    background-size: 200%;
    background-position: 52% 5%;
    background-repeat: no-repeat;
  }

  /* ----- animations ----- */
  .roll-in1 {
    animation: rollIn 3s ease 0s 1 normal forwards;
  }
  .roll-in2 {
    animation: rollIn 3.2s ease 0s 1 normal forwards;
  }
  .roll-in3 {
    animation: rollIn 3.4s ease 0s 1 normal forwards;
  }
  .fade-in {
    animation: fadeIn 3s ease 2s 1 normal backwards;
  }
}
@keyframes rollIn {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(350px);
  }

  60% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0) rotateZ(-720deg);
  }

  70% {
    animation-timing-function: ease-in;
    transform: translateX(65px) rotateZ(-600deg);
  }

  82% {
    animation-timing-function: ease-out;
    transform: translateX(0) rotateZ(-720deg);
  }

  88% {
    animation-timing-function: ease-in;
    transform: translateX(28px) rotateZ(-660deg);
  }

  93% {
    animation-timing-function: ease-out;
    transform: translateX(0) rotateZ(-720deg);
  }

  96% {
    animation-timing-function: ease-in;
    transform: translateX(8px) rotateZ(-690deg);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0) rotateZ(-720deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
